<h1 style="color:aquamarine;">Jordan's to do list</h1>
 <div> <table id="myTable">
      <tr>
          <th>completed? </th>
          <th>Task </th>
          <th>Time</th>
          <th> Amount</th>
         <th> Location</th>
      </tr>
      
      <% @todos.each do |todo| %>
      
      
      <tr>
          <td> <input type="checkbox" name="done"/> </td>
          <td> <a href="show/<%= todo.id %>"><%= todo.task %></a></td>
          <td><%= todo.time %></td>
          <td class="amount"><%= todo.amount %> min</td>
          <td> <%= todo.location %></td>
      </tr>      
      
      <% end %>
  </table>
  </div>
<div id="new-todo-block">
     <a href="/todo/new" class="button" id="add-new-todo-button">Add to do</a>
</div>